/* https://www.realtimecolors.com/dashboard?colors=c3c3c3-151414-c2ccc2-2a2a2a-a4ff52&fonts=B612%20Mono-B612%20Mono */

:root {
    --text: #c3c3c3;
    --background: #ebeaea;
    --primary: #333d33;
    --secondary: #d6d6d6;
    --accent: #51ad00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
}